# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Compiled Python modules
*.pyc
*.pyo

# IDE files
.idea/
.vscode/

# Logs
logs/
*.log

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
nosetests.xml
coverage.xml

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Miscellaneous
*.bak
*.swp
*.~*
*.DS_Store